APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:Le4DSgIXW4wPXhHMMgkKUBP3SfQfy9Farf1pZPYf02g=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
#DB_CONNECTION=mysql
# DB_HOST=db
# DB_PORT=3306
# DB_DATABASE=newsdb
# DB_USERNAME=newsdb
# DB_PASSWORD=newsdb

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

NEWSAPI_KEY=660b04d3e8ed47ada40a1b9ea2b85328
MEDIASTACK_KEY=50f4dfe28a606b7850cafcdcc7b1369c
WORLDNEWSAPI_KEY=0cb2a97043cd4fafa1c66ddcb18a4466
#WORLDNEWSAPI_KEY=5d372bee2bc84f61b9a8be6b8fead339
# GOOGLE_NEWS_KEY=098c32ef1371ee950f0d5c673d1f3e90aea0efb014ff10f9ecbbf52fdadbd398
# NEWDATA_KEY=pub_63699e113bff2807855bf0a06828e5fe2d3e7
